name: Build (Windows)

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 10 (preview)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
          dotnet-quality: "preview"

      - name: Display .NET info
        run: dotnet --info

      - name: Restore
        run: dotnet restore FlatbufferToolkit.slnx

      - name: Build (Release)
        run: dotnet build FlatbufferToolkit.slnx -c Release --no-restore

      # Remove this step if you don't have tests
      - name: Test
        run: dotnet test FlatbufferToolkit.slnx -c Release --no-build
